@import url('https://fonts.googleapis.com/css?family=Proxima+Nova&display=swap');

body {
    font-family: 'Proxima Nova', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #0A192F, #1B263B);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    overflow-x: hidden; /* Prevents horizontal scrolling */
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #07101d;
    position: relative; /* Allows absolute positioning of children */
    transition: background-color 0.3s ease-in-out;
    width: 100%; /* Ensures header width is 100% */
}

header img {
    width: 55px;
    height: 55px;
    margin: auto;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 50px;
    transition: transform 0.3s ease-in-out;
}

header img:hover {
    transform: scale(1.1);
}

#home img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    position: absolute;
    top: 250px;
    left: 30px;
    transition: transform 0.3s ease-in-out;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 50px;
    border: 2px solid #030d11;
    border-radius: 20px;
    transition: border-color 0.3s ease-in-out;
}

nav ul li:hover {
    border-color: #FFF;
}

nav ul li a {
    text-decoration: none;
    color: #00A8E8;
    padding: 10px;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #FFF;
}

section#home {
    padding-top: 10cqb;
    padding-left: 50px;
    margin: auto;
    text-align: left;
    transition: all 0.5s ease-in-out;
}

section#home p {
    transition: all 0.5s ease-in-out;
}

section#contact ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

section#contact ul li {
    margin-bottom: 10px;
    border-radius: 10px;
}

section#contact ul li a {
    color: #FFF;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

section#contact ul li a:hover {
    color: #00A8E8;
}

a.downloadcv {
    display: inline-block;
    text-decoration: none;
    color: #00A8E8;
    padding: 10px 20px;
    border: 2px solid #0d0e0e;
    border-radius: 10px;
    background-color: #0A192F;
    margin-top: 20px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

a.downloadcv:hover {
    background-color: #1B263B;
    color: #FFF;
}

footer {
    text-align: center;
    padding: 10px 20px;
    background-color: #07101d;
    color: #FFF;
    margin-top: auto;
    transition: background-color 0.3s ease-in-out;
    width: 100%; /* Ensures footer width is 100% */
}

footer:hover {
    background-color: #1B263B;
}

footer nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

footer nav ul li {
    display: inline-block;
    margin: 0 10px;
}

footer nav ul li a {
    text-decoration: none;
    color: #FFF;
    padding: 10px 20px;
    border: 2px solid #FFF;
    border-radius: 20px;
    background-color: #0A192F;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

footer nav ul li a:hover {
    background-color: #1B263B;
    color: #00A8E8;
}
